<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Izbornik]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Uspjeh: Izmijenili ste izbornik!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Jedinstveni ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Tekst]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Poveznica<br /><span class="help">Za vanjske poveznice dodajte http:// ili https:// na početku. Također možete koristiti relativni URL, poput ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Odredište<br/><span class="help">_self - otvara povezani dokument u istom okviru u kojem je kliknuto.<br>_blank - otvara povezani dokument u novom prozoru ili kartici</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Roditelj]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Poredak sortiranja]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Vrsta poveznice]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Glavni izbornik -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Polje ne može biti prazno!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID stavke nije jedinstven!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Za polje ID izbornika dopušteni su samo alfanumerički znakovi!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Stranica kategorije]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Stranica sadržaja]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Prilagođeni link ili URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Uključi podređene stavke]]></value>
	</definition>
</definitions>
