<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Меню]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Успіх: Ви змінили меню!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Унікальний ідентифікатор]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Іконка]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Текст]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link<br /><span class="help">Для зовнішніх посилань додавайте http:// або https:// на початку. Ви також можете використовувати відносний URL, наприклад ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Ціль<br/><span class="help">_self - відкриває пов’язаний документ у тому ж фреймі, де було натиснуто.<br>_blank - відкриває пов’язаний документ у новому вікні або вкладці</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Батько]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Порядок сортування]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Тип посилання]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[Кореневе меню]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Поле не може бути порожнім!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Ідентифікатор товару не унікальний!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Для поля ID меню допускаються тільки буквено-цифрові символи!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Сторінка категорії]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Сторінка вмісту]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Користувацьке посилання або URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Включити дочірні елементи]]></value>
	</definition>
</definitions>
