<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Nabídka]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Úspěch: Upravili jste menu!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Jedinečné ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Text]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Odkaz<br /><span class="help">Pro externí odkazy přidejte na začátek http:// nebo https://. Můžete také použít relativní URL, například ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Cíl<br/><span class="help">_self - otevře propojený dokument ve stejném rámci, ve kterém bylo kliknuto.<br>_blank - otevře propojený dokument v novém okně nebo záložce</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Rodič]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Pořadí řazení]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Typ odkazu]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Kořenová nabídka -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Pole nemůže být prázdné!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID položky není unikátní!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Pro pole ID nabídky jsou povoleny pouze alfanumerické znaky!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Stránka kategorie]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Obsahová stránka]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Vlastní odkaz nebo URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Zahrnout podřízené položky]]></value>
	</definition>
</definitions>
