<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Μενού]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Επιτυχία: Έχετε τροποποιήσει το μενού!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Μοναδικό Αναγνωριστικό]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Εικονίδιο]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Κείμενο]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Σύνδεσμος<br /><span class="help">Για εξωτερικούς συνδέσμους προσθέστε http:// ή https:// στην αρχή. Μπορείτε επίσης να χρησιμοποιήσετε σχετική διεύθυνση URL, όπως ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Στόχος<br/><span class="help">_self - ανοίγει το συνδεδεμένο έγγραφο στο ίδιο πλαίσιο στο οποίο έγινε κλικ.<br>_blank - ανοίγει το συνδεδεμένο έγγραφο σε νέο παράθυρο ή καρτέλα</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Γονέας]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Σειρά ταξινόμησης]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Τύπος συνδέσμου]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Βασικό Μενού -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Το πεδίο δεν μπορεί να είναι κενό!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Το ID του αντικειμένου δεν είναι μοναδικό!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Μόνο αλφαριθμητικοί χαρακτήρες επιτρέπονται στο πεδίο ID μενού!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Σελίδα Κατηγορίας]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Σελίδα Περιεχομένου]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Προσαρμοσμένος Σύνδεσμος ή URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Συμπερίληψη υποστοιχείων]]></value>
	</definition>
</definitions>
