<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Meny]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Suksess: Du har endret menyen!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Unik ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikon]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Tekst]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link<br /><span class="help">For eksterne lenker legg til http:// eller https:// i begynnelsen. Du kan også bruke relativ URL som ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Mål<br/><span class="help">_self - åpner det tilknyttede dokumentet i samme ramme som det ble klikket i.<br>_blank - åpner det tilknyttede dokumentet i et nytt vindu eller fane</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Forelder]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Sorteringsrekkefølge]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Lenketype]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Rotmeny -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Feltet kan ikke være tomt!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Vare-ID er ikke unik!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Kun alfanumeriske tegn er tillatt i meny-ID-feltet!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategoriside]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Innholdsside]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Egendefinert lenke eller URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Inkluder underordnede elementer]]></value>
	</definition>
</definitions>
