<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Thực đơn]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Thành công: Bạn đã thay đổi menu!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[ID duy nhất]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Biểu tượng]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Bản văn]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Liên kết <br/><span class="help">Đối với các liên kết bên ngoài thêm http:// hoặc https:// trong đầu</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Cha mẹ]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Thứ tự sắp xếp]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Menu gốc -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Không được để trống!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Item ID phải là duy nhất!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Chỉ có ký tự chữ số cho phép đối với lĩnh vực đơn ID!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Loại liên kết]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Thể loại trang]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Nội dung trang]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Tuỳ chỉnh liên kết hoặc URL]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Mục tiêu <br/><span class="help">_self - mở tài liệu được liên kết trong cùng khung khi nhấp vào. <br/> _blank - mở tài liệu được liên kết trong cửa sổ hoặc tab mới</span>]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Bao gồm các mục dành cho trẻ em]]></value>
	</definition>
</definitions>
