<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menu]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Sucesso: Você modificou o menu!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[ID Único]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ícone]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Texto]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link<br /><span class="help">Para links externos, adicione http:// ou https:// no início. Você também pode usar URL relativa, como ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Alvo<br/><span class="help">_self - abre o documento vinculado no mesmo frame em que foi clicado.<br>_blank - abre o documento vinculado em uma nova janela ou aba</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Pai]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Ordem de classificação]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Tipo de link]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Menu Raiz -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[O campo não pode ficar vazio!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID do item não é único!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Somente caracteres alfanuméricos são permitidos para o campo ID do menu!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Página de Categoria]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Página de Conteúdo]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Link personalizado ou URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Incluir itens filhos]]></value>
	</definition>
</definitions>
