<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Valikko]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Onnistui: olet muokannut valikkoa!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Uniikki tunnus]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Kuvake]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Teksti]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Linkki<br /><span class="help">Ulkoisiin linkkeihin lisää alussa http:// tai https://. Voit myös käyttää suhteellista URL-osoitetta, kuten ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Kohde<br/><span class="help">_self - avaa linkitetyn asiakirjan samassa kehyksessä, jossa sitä napsautettiin.<br>_blank - avaa linkitetyn asiakirjan uudessa ikkunassa tai välilehdessä</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Ylätaso]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Lajittelujärjestys]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Linkkityyppi]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Juurivalikko -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Kenttä ei voi olla tyhjä!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Tuote-ID ei ole yksilöllinen!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Menu ID-kentässä saa olla vain aakkosnumeerisia merkkejä!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategoriasivu]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Sisältösivu]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Mukautettu linkki tai URL-osoite]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Sisällytä alakohteet]]></value>
	</definition>
</definitions>
