<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Ponuka]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Úspech: upravili ste ponuku!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Jedinečné ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Text]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Odkaz<br /><span class="help">Pre externé odkazy pridajte http:// alebo https:// na začiatku. Môžete tiež použiť relatívnu URL, napr. ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Cieľ<br/><span class="help">_self - otvorí prepojený dokument v rovnakom rámci, v akom bolo naň kliknuté.<br>_blank - otvorí prepojený dokument v novom okne alebo na novej karte</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Rodič]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Poradie zoraďovania]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Typ odkazu]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Koreňové menu -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Pole nemôže byť prázdne!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID položky nie je jedinečné!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Pre pole ID ponuky sú povolené iba alfanumerické znaky!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Stránka kategórie]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Obsahová stránka]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Vlastný odkaz alebo URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Zahrnúť podriadené položky]]></value>
	</definition>
</definitions>
