<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menu]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Sukces: Zmodyfikowałeś menu!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Unikalny identyfikator]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Tekst]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link<br /><span class="help">Dla linków zewnętrznych dodaj na początku http:// lub https://. Możesz też użyć względnego adresu URL, na przykład ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Cel<br/><span class="help">_self - otwiera powiązany dokument w tej samej ramce, w której go kliknięto.<br>_blank - otwiera powiązany dokument w nowym oknie lub karcie</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Rodzic]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Kolejność sortowania]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Typ linku]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Menu główne -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Pole nie może być puste!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID przedmiotu nie jest unikalny!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[W polu ID menu dozwolone są tylko znaki alfanumeryczne!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Strona kategorii]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Strona treści]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Własny link lub adres URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Uwzględnij elementy podrzędne]]></value>
	</definition>
</definitions>
