<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[菜单]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[成功：您已修改菜单！]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[唯一ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[图标]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[文本]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[链接<br /><span class="help">对于外部链接，请在开头添加 http:// 或 https://。您也可以使用相对 URL，例如 ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[目标<br/><span class="help">_self – 在相同的框架中打开所链接的文档。<br>_blank – 在新窗口或标签页中打开所链接的文档。</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[父级]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[排序顺序]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[链接类型]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- 根菜单 -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[字段不能为空！]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[商品 ID 不唯一！]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[菜单 ID 字段仅允许使用字母数字字符！]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[类别页面]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[内容页面]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[自定义链接或网址]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[包含子项目]]></value>
	</definition>
</definitions>
