<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[菜单]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[成功：你已修改的菜单！]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[唯一身份]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[图标]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[文本]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[链接<br/><span class="help">对外部链接添加http：//或https：//开头的开始</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[亲]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[排序]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- 根菜单 -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[字段不能为空！]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[项目编号不唯一！]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[允许菜单ID字段只有字母数字字符！]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[目标<br/><span class="help">_self - 在被点击的同一框架中打开链接的文档。 <br/> _blank - 在新窗口或选项卡中打开链接的文档</span>]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[包括儿童物品]]></value>
	</definition>
</definitions>
