<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[תפריט]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[הצלחה: ערכת את התפריט!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[מזהה ייחודי]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[אייקון]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[טקסט]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[קישור<br /><span class="help">לקישורים חיצוניים יש להוסיף בהתחלה http:// או https://. ניתן גם להשתמש ב-URL יחסי כגון ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[יעד<br/><span class="help">_self - פותח את המסמך המקושר באותה מסגרת שבה נלחץ.<br>_blank - פותח את המסמך המקושר בחלון או בכרטיסייה חדשה</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[הורה]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[סדר מיון]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[סוג קישור]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- תפריט שורש -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[השדה לא יכול להיות ריק!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[מזהה הפריט אינו ייחודי!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[רק תווים אלפאנומריים מותרים בשדה מזהה התפריט!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[דף קטגוריה]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[דף תוכן]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[קישור מותאם אישית או URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[כלול פריטי משנה]]></value>
	</definition>
</definitions>
