<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <id>default_hindi</id>
  <version>1.4.3</version>
  <type>language</type>
  <category>Languages</category>
  <cartversions>
    <item>1.4</item>
  </cartversions>
  <priority>10</priority>
  <settings>
    <item id="default_hindi_status">
      <type>checkbox</type>
      <default_value>0</default_value>
    </item>
  </settings>
  <note>true</note>
  <install>
    <trigger>install.php</trigger>
  </install>
  <uninstall>
    <trigger>uninstall.php</trigger>
  </uninstall>
</extension>
