<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Meni]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Uspeh: Spremenili ste meni!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Enolični ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Besedilo]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Povezava<br /><span class="help">Za zunanje povezave na začetek dodajte http:// ali https://. Lahko uporabite tudi relativni URL, na primer ../subfolder/index.php</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Cilj<br/><span class="help">_self - odpre povezani dokument v istem okviru, kjer je bila kliknjena.<br>_blank - odpre povezani dokument v novem oknu ali zavihku</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Nadrejeni]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Vrstni red razvrščanja]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Vrsta povezave]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Koreninski meni -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Polje ne more biti prazno!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID izdelka ni enoličen!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[V polju ID menija so dovoljeni samo alfanumerični znaki!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Stran kategorije]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Vsebinska stran]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Po meri povezava ali URL]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Vključi podrejene izdelke]]></value>
	</definition>
</definitions>
