<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Meni]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Uspeh: ste spremenjeni meni!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Enolični ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Besedilo]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link <br/><span class="help">Za zunanje povezave dodati http:// ali https:// na začetku</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[starš]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Vrstni red]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Vrsta povezave]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- korenski meni -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Polje ne sme biti prazno!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID elementa ni edinstven!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Samo alfanumerični znaki dovoljena meni ID polje!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategorija stran]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[vsebina strani]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Meri Link ali URL]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Target <br/><span class="help">_self - odpre povezani dokument v istem okvirju, kot ste ga kliknili. <br/> _prazno - odpre povezani dokument v novem oknu ali zavihku</span>]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[Vključite otroške predmete]]></value>
	</definition>
</definitions>
