<?xml version="1.0"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[मेनू]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[सफलता: आपने मेनू को संशोधित किया!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[अद्वितीय आईडी]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[चिह्न]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[पाठ]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[लिंक<br /><span class="help">बाहरी लिंक के लिए शुरुआत में http:// या https:// जोड़ें। आप ../subfolder/index.php जैसे सापेक्ष URL का भी उपयोग कर सकते हैं।</span>]]></value>
	</definition>
	<definition>
		<key>entry_item_target</key>
		<value><![CDATA[Target<br/><span class="help">_self - लिंक किए गए दस्तावेज़ को उसी फ़्रेम में खोलता है जिसमें उस पर क्लिक किया गया था।<br/>_blank - नए विंडो या टैब में लिंक किए गए दस्तावेज़ को खोलता है।</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[मूल]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[क्रमबद्ध क्रम]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[लिंक प्रकार]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- मुख्य मेनू -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[फ़ील्ड खाली नहीं हो सकता!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[वस्तु आईडी अद्वितीय नहीं है!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[मेनू ID फ़ील्ड के लिए केवल अक्षर और अंक ही मान्य हैं!]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[श्रेणी पृष्ठ]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[सामग्री पृष्ठ]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[कस्टम लिंक या यूआरएल]]></value>
	</definition>
	<definition>
		<key>entry_include_children_items</key>
		<value><![CDATA[चाइल्ड आइटम शामिल करें]]></value>
	</definition>
</definitions>
